# Dependencies
node_modules/
.venv/
venv/
__pycache__/

# Output & Uploads (Don't push these!)
backend_uploads/
backend_results/
manual_out_*/

# System files
.DS_Store
Thumbs.db

# Environment variables
.env

# Frontend build
dist/